#faqText td img{border:0;vertical-align:top;margin:0 0 15px;max-width:100%;height:auto;}
#faqText a{font-size:14px;text-decoration:none;cursor:pointer;background:transparent;transition:all 0.2s ease-in-out 0s;-moz-transition:all 0.2s ease-in-out 0s;-webkit-transition:all 0.2s ease-in-out 0s;}
#faqText a:hover{text-decoration:none;color:#BE0404;-webkit-tap-highlight-color: transparent;-moz-tap-highlight-color: transparent;-o-tap-highlight-color: transparent}
#faqText a.button:hover {text-decoration:none;}
#faqText p {margin:0 0 15px;display:block;}
#faqText strong {font-weight:bold;}
#faqText em {font-style:italic;}
#faqText pre {overflow:hidden;}
#faqText ins {text-decoration:none;}

