#div1 {
	margin-bottom: 10%;
}

#div1 h1 {
	width: 50%;
	margin-left: 15%;
	margin-top: 100px;
	margin-bottom: 20px;
}

#div2 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#div2 h3 {
	margin-left: 10%;
	margin-top: 5%;
}

#logos ul {
	list-style-type: none;
	margin-left: 20%;
	margin-bottom: 5%;
}

#logos li {
	display: inline;
	padding: 30px;
}
	
#div3 {
	margin-bottom: 10%;
	margin-top: 10%;
}

#div3 h2 {
	text-align: center;
}

#features {
	margin-left: 15%;
	margin-top: 10px;
}

#eachFeature {
	width: 25%;
	float: left;
	padding: 2%;
	margin-bottom: 10%;
}

#eachFeature h3 {
	text-align: center;
}

#div4 {
	clear: both;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#div4 h1 {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 20px;
}

#steps {
	margin-left: 10%;
	padding-bottom: 30px;
}

#eachStep {
	width: 40%;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
}

#quote {
	font-style: italic;
	clear: both;
	width: 70%;
	margin-right: 10%;
	margin-bottom: 10%;
	margin-top: 20px;
}

#quote p {
	text-align: right;
}

#paragraph {
	width: 50%;
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 30px;
}

#questions {
	width: 30%;
	margin-left: 70%;
	margin-bottom: 10%;
}

