#step1Whole {
	border-top: 1px solid black;
}

#step1 {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}

#step1 ul {
	list-style-type: none;
}

#step1 li {
	display: inline;
	padding: 20px;
}

#selectSize {
	text-align: center;
	margin-bottom: 20px;
}

#orderOptions {
	margin-bottom: 20px;
}

#eachOption {
	width: 400px;
	border: 1px solid black;
	float: left;
	margin-right: auto;
	margin-bottom: auto;
	text-align: center;
	padding: 2%;
}

#step2Whole {
	border-top: 1px solid black;
	clear: both;
	margin-bottom: 20px;
}

#step2 {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}

#step2 ul {
	list-style-type: none;
}

#step2 li {
	display: inline;
	padding: 20px;
}

#selectPlan {
	text-align: center;
	margin-bottom: 20px;
}

#planOptions {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#eachPlan {
	width: 21%;
	height: 400px;
	float: left;
	border: 1px solid black;
	text-align: center;
	margin-left: 1%;
	margin-right: 1%;
	padding-top: none;
}

#title {
	height: 50px;
	background-color: green;
}

#price {
	height: 150px;
	background-color: blue;
	padding-top: 10px;
}

#details {
	text-align: left;
}

/*#eachPlan > #linkToLegal {
	border: 5px solid black;
}*/

#step3Whole {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	clear: both;
}

#step3 {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}

#step3 ul {
	list-style-type: none;
}

#step3 li {
	display: inline;
	padding: 20px;
}

#finish {
	text-align: center;
	margin-bottom: 20px;
}

#customerInfo {
	width: 300px;
	text-align: center;
	padding: 20px;
	margin: auto;
}

#customerInfo input {
	padding-bottom: 10px;
}

