#step1Whole {
	border-top: 1px solid black;
}

#step1 {
	margin-top: 5%;
	text-align: center;
}

#step1 ul {
	list-style-type: none;
}

#step1 li {
	display: inline;
	padding: 20px;
}

#selectSize {
	text-align: center;	
}

#orderOptions {
	margin-top: 2.5%;
	margin-bottom: 20%;
	width: 90%;
	margin-left: 15%;
	margin-right: 15%;
}

#eachOption {
	width: 30%;
	height: 200px;
	border: 1px solid black;
	float: left;
	margin-left: 6.5%; 
	margin-right: 6.5%;
	text-align: center;
	
}

#step2Whole {
	border-top: 1px solid black;
	clear: both;
}

#step2 {
	margin-top: 5%;
	text-align: center;
}

#step2 ul {
	list-style-type: none;
}

#step2 li {
	display: inline;
	padding: 20px;
}

#selectPlan {
	text-align: center;
}

#planOptions {
	margin-bottom: 20%;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
}

#eachPlan {
	width: 20%;
	height: 400px;
	float: left;
	border: 1px solid black;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 10%;
}

#title {
	height: 50px;
}

#price {
	height: 150px;
	padding-top: 10px;
}

#details {
	text-align: left;
}

#linkToLegal {
	text-align: bottom;
}

#step3Whole {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	clear: both;
}

#step3 {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}

#step3 ul {
	list-style-type: none;
}

#step3 li {
	display: inline;
	padding: 20px;
}

#finish {
	text-align: center;
	margin-bottom: 20px;
}

#customerInfo {
	width: 300px;
	text-align: center;
	padding: 20px;
	margin: auto;
}

#customerInfo form {
	padding: 10px;
}


